[submodule "configs/nerves_system_bbb"]
	path = configs/nerves_system_bbb
	url = https://github.com/nerves-project/nerves_system_bbb
[submodule "configs/nerves_system_rpi2"]
	path = configs/nerves_system_rpi2
	url = https://github.com/nerves-project/nerves_system_rpi2
[submodule "configs/nerves_system_rpi"]
	path = configs/nerves_system_rpi
	url = https://github.com/nerves-project/nerves_system_rpi
[submodule "configs/nerves_system_ag150"]
	path = configs/nerves_system_ag150
	url = https://github.com/nerves-project/nerves_system_ag150
