version: 2.1

defaults: &defaults
  docker:
    - image: cimg/base:stable
  working_directory: ~/repo

run_tests: &run_tests
  run:
    name: Run tests
    command: |
      cd tests && ./run_tests.sh

docker_env: &docker_env
  run:
    name: Set docker env
    command: |
      REPO=nerves-project/nerves_system_br

      if [ -z "$CIRCLE_TAG" ]; then
        TAG=$CIRCLE_SHA1
      else
        TAG=$(cat VERSION)
      fi

      echo "export DOCKER_CLI_EXPERIMENTAL=enabled" >> $BASH_ENV
      echo "export DOCKER_REPO=ghcr.io/$REPO" >> $BASH_ENV
      echo "export DOCKER_TAG=$TAG" >> $BASH_ENV
      echo "export DOCKER_PATH=support/docker/nerves_system_br" >> $BASH_ENV

docker_build_amd64: &docker_build_amd64
  run:
    name: Build docker image (amd64)
    command: |
       mkdir -p ~/docker
       docker context create my_context
       docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
       docker buildx create --name multiarch --driver docker-container --use my_context
       docker buildx build --platform linux/amd64 $DOCKER_PATH --tag $DOCKER_REPO:$DOCKER_TAG"_amd64" --load --progress=plain
       docker save $DOCKER_REPO:$DOCKER_TAG"_amd64" -o ~/docker/$DOCKER_TAG"_amd64.tar"

docker_build_arm64: &docker_build_arm64
  run:
    name: Build docker image (arm64)
    command: |
       mkdir -p ~/docker
       docker context create my_context
       docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
       docker buildx create --name multiarch --driver docker-container --use my_context
       docker buildx build --platform linux/arm64 $DOCKER_PATH --tag $DOCKER_REPO:$DOCKER_TAG"_arm64" --load --progress=plain
       docker save $DOCKER_REPO:$DOCKER_TAG"_arm64" -o ~/docker/$DOCKER_TAG"_arm64.tar"

docker_import_amd64: &docker_import_amd64
  run:
    name: Import docker image (amd64)
    command: |
      docker load -i ~/docker/$DOCKER_TAG"_amd64".tar

docker_import_arm64: &docker_import_arm64
  run:
    name: Import docker image (arm64)
    command: |
      docker load -i ~/docker/$DOCKER_TAG"_arm64".tar

docker_push_amd64: &docker_push_amd64
  run:
    name: Push docker image to ghcr.io (amd64)
    command: |
      echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin

      docker image tag $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:dev_amd64
      docker push $DOCKER_REPO:dev_amd64

      if [ -n "$CIRCLE_TAG" ]; then
        docker image tag $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:latest_amd64
        docker push $DOCKER_REPO:$DOCKER_TAG"_amd64"
        docker push $DOCKER_REPO:latest_amd64
      fi

docker_push_arm64: &docker_push_arm64
  run:
    name: Push docker image to ghcr.io (arm64)
    command: |
      echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin

      docker image tag $DOCKER_REPO:$DOCKER_TAG"_arm64" $DOCKER_REPO:dev_arm64
      docker push $DOCKER_REPO:dev_arm64

      if [ -n "$CIRCLE_TAG" ]; then
        docker image tag $DOCKER_REPO:$DOCKER_TAG"_arm64" $DOCKER_REPO:latest_arm64
        docker push $DOCKER_REPO:$DOCKER_TAG"_arm64"
        docker push $DOCKER_REPO:latest_arm64
      fi

docker_push_manifest: &docker_push_manifest
  run:
    name: Push docker manifests to ghcr.io
    command: |
      echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin

      if [ -n "$CIRCLE_TAG" ]; then
        docker manifest create $DOCKER_REPO:latest $DOCKER_REPO:latest_amd64 $DOCKER_REPO:latest_arm64
        docker manifest create $DOCKER_REPO:$DOCKER_TAG $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:$DOCKER_TAG"_arm64"

        docker manifest push $DOCKER_REPO:$DOCKER_TAG
        docker manifest push $DOCKER_REPO:latest
      fi

jobs:
  check-license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint

  lint:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: shellcheck
          working_directory: ~/repo
          command: |
            ./scripts/shellchecks.sh

  build_amd64:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update && sudo apt-get install -y docker-buildx-plugin
      - setup_remote_docker
      - <<: *docker_env
      - <<: *docker_build_amd64
      - save_cache:
          key: docker-amd64-{{ .Branch }}-{{ .Revision }}
          paths: "~/docker"

  build_arm64:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update && sudo apt-get install -y docker-buildx-plugin
      - setup_remote_docker
      - <<: *docker_env
      - <<: *docker_build_arm64
      - save_cache:
          key: docker-arm64-{{ .Branch }}-{{ .Revision }}
          paths: "~/docker"

  test_amd64:
    docker:
      - image: ghcr.io/nerves-project/nerves_system_br:dev_amd64
    working_directory: ~/repo
    steps:
      - checkout
      - <<: *run_tests

  # test_arm64:
  #   docker:
  #     - image: ghcr.io/nerves-project/nerves_system_br:dev_arm64
  #   working_directory: ~/repo
  #   steps:
  #     - checkout
  #     - <<: *run_tests

  push_amd64:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - <<: *docker_env
      - restore_cache:
          keys:
            - docker-amd64-{{ .Branch }}-{{ .Revision }}
      - <<: *docker_import_amd64
      - <<: *docker_push_amd64

  push_arm64:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - <<: *docker_env
      - restore_cache:
          keys:
            - docker-arm64-{{ .Branch }}-{{ .Revision }}
      - <<: *docker_import_arm64
      - <<: *docker_push_arm64

  push_manifest:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - <<: *docker_env
      - <<: *docker_push_manifest

workflows:
  pipeline:
    jobs:
      - check-license:
          filters:
            tags:
              only: /.*/
      - lint:
          filters:
            tags:
              only: /.*/
      - build_amd64:
          context: org-global
          filters:
            tags:
              only: /.*/
      - build_arm64:
          context: org-global
          filters:
            tags:
              only: /.*/
      - push_amd64:
          context: org-global
          requires:
            - build_amd64
          filters:
            tags:
              only: /.*/
      - push_arm64:
          context: org-global
          requires:
            - build_arm64
          filters:
            tags:
              only: /.*/
      - push_manifest:
          context: org-global
          requires:
            - push_amd64
            - push_arm64
          filters:
            tags:
              only: /.*/
      - test_amd64:
          context: org-global
          requires:
            - push_manifest
          filters:
            tags:
              only: /.*/
      # - test_arm64:
      #     context: org-global
      #     requires:
      #       - push_arm64
      #     filters:
      #       tags:
      #         only: /.*/
