# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0
version: 2.1

defaults: &defaults
  machine:
    image: ubuntu-2204:current
  working_directory: ~/repo

run_tests: &run_tests
  run:
    name: Run tests
    command: |
      cd tests && ./run_tests.sh

docker_env: &docker_env
  run:
    name: Set docker env
    command: |
      REPO=nerves-project/nerves_system_br

      if [ -z "$CIRCLE_TAG" ]; then
        TAG=$CIRCLE_SHA1
      else
        TAG=$(cat VERSION)
      fi

      echo "export DOCKER_CLI_EXPERIMENTAL=enabled" >> $BASH_ENV
      echo "export DOCKER_REPO=ghcr.io/$REPO" >> $BASH_ENV
      echo "export DOCKER_TAG=$TAG" >> $BASH_ENV
      echo "export DOCKER_PATH=support/docker/nerves_system_br" >> $BASH_ENV

docker_push_manifest: &docker_push_manifest
  run:
    name: Push docker manifests to ghcr.io
    command: |
      echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin

      if [ -n "$CIRCLE_TAG" ]; then
        docker manifest create $DOCKER_REPO:latest $DOCKER_REPO:latest_amd64 $DOCKER_REPO:latest_arm64
        docker manifest create $DOCKER_REPO:$DOCKER_TAG $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:$DOCKER_TAG"_arm64"

        docker manifest push $DOCKER_REPO:$DOCKER_TAG
        docker manifest push $DOCKER_REPO:latest
      fi

jobs:
  check-license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint

  lint:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: shellcheck
          working_directory: ~/repo
          command: |
            sudo apt update && sudo apt install shellcheck -y
            ./scripts/shellchecks.sh

  build_push_amd64:
    <<: *defaults
    steps:
      - checkout
      - <<: *docker_env
      - run:
          name: Build and push docker image (amd64)
          command: |
            echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin
            docker build $DOCKER_PATH --tag $DOCKER_REPO:$DOCKER_TAG"_amd64"
            docker push $DOCKER_REPO:$DOCKER_TAG"_amd64"

            docker tag $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:dev_amd64
            docker push $DOCKER_REPO:dev_amd64

            if [ -n "$CIRCLE_TAG" ]; then
              docker tag $DOCKER_REPO:$DOCKER_TAG"_amd64" $DOCKER_REPO:latest_amd64
              docker push $DOCKER_REPO:latest_amd64
            fi

  build_push_arm64:
    <<: *defaults
    resource_class: arm.large
    steps:
      - checkout
      - <<: *docker_env
      - run:
          name: Build and push docker image (arm64)
          command: |
            echo $GITHUB_TOKEN | docker login ghcr.io -u "$GITHUB_USER" --password-stdin
            docker build $DOCKER_PATH --tag $DOCKER_REPO:$DOCKER_TAG"_arm64"
            docker push $DOCKER_REPO:$DOCKER_TAG"_arm64"

            docker tag $DOCKER_REPO:$DOCKER_TAG"_arm64" $DOCKER_REPO:dev_arm64
            docker push $DOCKER_REPO:dev_arm64

            if [ -n "$CIRCLE_TAG" ]; then
              docker tag $DOCKER_REPO:$DOCKER_TAG"_arm64" $DOCKER_REPO:latest_arm64
              docker push $DOCKER_REPO:latest_arm64
            fi

  test_amd64:
    docker:
      - image: ghcr.io/nerves-project/nerves_system_br:dev_amd64
    resource_class: large
    working_directory: ~/repo
    steps:
      - checkout
      - <<: *run_tests

  test_arm64:
    docker:
      - image: ghcr.io/nerves-project/nerves_system_br:dev_arm64
    resource_class: arm.large
    working_directory: ~/repo
    steps:
      - checkout
      - <<: *run_tests

  push_manifest:
    <<: *defaults
    steps:
      - checkout
      - <<: *docker_env
      - <<: *docker_push_manifest

workflows:
  pipeline:
    jobs:
      - check-license:
          filters:
            tags:
              only: /.*/
      - lint:
          filters:
            tags:
              only: /.*/
      - build_push_amd64:
          context: org-global
          filters:
            tags:
              only: /.*/
      - build_push_arm64:
          context: org-global
          filters:
            tags:
              only: /.*/
      - test_amd64:
          context: org-global
          requires:
            - build_push_amd64
          filters:
            tags:
              only: /.*/
      - test_arm64:
          context: org-global
          requires:
            - build_push_arm64
          filters:
            tags:
              only: /.*/
      - push_manifest:
          context: org-global
          requires:
            - test_amd64
            - test_arm64
          filters:
            tags:
              only: /.*/
