# Additional configuration for erlinit

# Turn on the debug prints
#-v

# Uncomment the following line to show the prompt on the HDMI output.
-c tty1

# Uncomment the following line to show the prompt on the UART output.
# -c ttyAMA0

# Use dtach to capture the iex session so that it can be redirected
# to the app's GUI
#-s "/usr/bin/dtach -N /tmp/iex_prompt"

# Uncomment to hang the board rather than rebooting when Erlang exits
#-h

# Enable UTF-8 filename handling
-e LANG=en_US.UTF-8;LANGUAGE=en
