#SERIAL 0 115200
INCLUDE default.cfg

# Set Linux kernel parameters
#  quiet                     -> reduce the number of prints on boot to boot a little faster
#
# erlinit parameters:
#  -h hang if erl exits (by default, the board reboots)
#  -s run strace on erl
#  -t print timing
#  -u remount the root file system as a unionfs
#  -v verbose prints in erlinit

LABEL Linux-A
  KERNEL /bzImage-a
  APPEND root=/dev/sda2 quiet console=ttyS0,115200 -u

LABEL Linux-B
  KERNEL /bzImage-b
  APPEND root=/dev/sda3 quiet console=ttyS0,115200 -u

