%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% Firmware configuration file for the Beaglebone Black

%% !!The units of each section below are in 512 byte blocks

%% Image layout
%% +------------------------+
%% | MBR                    |
%% +------------------------+
%% | Boot partition (FAT12) |
%% | u-boot.img             |
%% | uenv.txt               |
%% +------------------------+
%% | Rootfs A (EXT4)        |
%% +------------------------+
%% | Rootfs B (EXT4)        |
%% +------------------------+
%% | Application (EXT4)     |
%% +------------------------+
%%
%% The Master Boot Record (MBR) is at block 0. This isn't
%% configurable.

%% The boot partition contains MLO, u-boot.img, and has
%% room for a debug uEnv.txt if desired. (Only about 1 MB)
{boot_partition_start, 63}.
{boot_partition_count, 2016}.

%% Let the rootfs have room to grow up to 128 MiB
{rootfs_a_partition_start, 4096}.
{rootfs_a_partition_count, 262144}.

{rootfs_b_partition_start, 266240}.
{rootfs_b_partition_count, 262144}.

%% Application partition (mounted at /root)
%% NOTE: Keep the total amount used under 1.78 GiB so that
%%       everything fits in the "2 GB" eMMC.
{application_partition_start, 528384}.
{application_partition_count, 131072}.

%% Bootloader settings
{bootloader, uboot}.

%% Paths to the bootloaders and rootfs images
{mlo_path, "buildroot/output/images/MLO"}.
{uboot_path, "buildroot/output/images/u-boot.img"}.
{rootfs_path, "buildroot/output/images/rootfs.ext2"}.

%% Set Linux kernel parameters
%%  quiet                     -> reduce the number of prints on boot to boot a little faster
%%  capemgr.disable_partno... -> turn off HDMI to avoid pin conflicts with capes
%%  uio_pruss.extram_poolsz...-> increase PRU memory for troodon-cam cape
%%
%% erlinit parameters:
%%  -h hang if erl exits (by default, the board reboots)
%%  -s run strace on erl
%%  -t print timing
%%  -v verbose prints in erlinit
{uenv_txt, "optargs=quiet capemgr.disable_partno=BB-BONELT-HDMI,BB-BONELT-HDMIN uio_pruss.extram_pool_sz=0x100000"}.
